body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  border-bottom: 1px solid #ccc;
  padding-bottom:10px;
  padding-top:10px;
 
}
h4 {
  padding: 2px 7px;
}
.headline{
  width:100%;
  text-align: center;
}
.ntbLogo{
  padding:5px 20px;
  position:absolute;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html, body{
  background-color: #f8f9fa !important;
}
.container {
  background-color: #fff;
  /*border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;*/
  padding-top: 30px;
}
.print-main.page {
  position: absolute;
  right:20px;
  top:0;
}
#collapseForm {
  /*margin:20px;*/
  border: 1px solid #c0c0c0;
  background-color: #fff;
}
#myForm2{
  width:510px;
  margin:auto;
}
.form-group {
  text-align: left;
  margin-left: 10px;
  padding-top:10px;
}
#pdf-download, #xml-download, .btn{
  margin:3px; 
  background-color: #30826a !important ;
 /* border-color: #30826a;*/
 
}
#btn-settings {
  background-color:black !important;
}
#myResults {
  padding-top:40px;
}
#res1, #res2, #res3 {
  margin:auto;
  width: 510px;
}
#sol1 svg, #sol3 svg, #sol2 svg {
  -moz-transform: rotate(180deg);  /* FF3.5/3.6 */
  -o-transform: rotate(180deg);  /* Opera 10.5 */
  -webkit-transform: rotate(180deg);  /* Saf3.1+ */
  transform: rotate(180deg);
}
.row {
  margin-left : 0px !important;
  margin-right: 0px !important;
}
.sol1, .sol2, .sol3 {
  min-height: 1px;
    max-height: 275px;
}
#side1, #side2, #side3, #side4, #side5, #side6, #side7{
  padding-bottom: 15px;
}
.mySpinner {
  display:none;
}
.css-spinner {
  margin: 20px 60px;
  display: inline-block;
  background-color: #cecece;
  opacity: 0.5;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
